* {
    padding: 0;
    margin: 0;    
    box-sizing: border-box;
}

/* resetando todo o css  */

button {
    cursor: pointer;
}
 /* navbar */
header {
    background-color: #B00505;
    box-shadow: 0px 3px 10px;
    width: 100%;
}
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0.2rem 1.3rem;
  }
  
  .logo img {
    display: flex;
    align-items: center;
    height: 130px;
  }
  
  .list-navbar {
    display: flex;
    align-items: center;
  }
  
  .list-navbar ul {
    display: flex;
    justify-content: center;
    list-style: none;           /* Retira os bullets points */
  }
  
  .nav-item {
    margin: 0 15px;
  }
  
  .nav-link {
    text-decoration: none;      /* Retira a linha sublinhada */
    font-weight: 500;
    color: white;
  }
  
  .navbar .list-navbar a:hover {
    color: #ffffff;
  }
  
  
  .buttons {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  
  
  .cadastro-button {
    background-color: transparent;
   border: solid 1px;
    border-radius: 10px;
    border-color: #ffff;
    padding: 5px 15px;
    margin-right: 20px;
  
  }
  
  .cadastro-button a {
    text-decoration: none;      /* Retira a linha sublinhada */
    font-size: 20px;
    font-weight: 300;
    color: white;
  }
  
  .login-button {
    background-color: transparent;
   border: solid 1px;
    border-radius: 10px;
    border-color: #ffff;
    padding: 5px 15px;
    margin-right: 20px;
  
  }
  .login-button a {
    text-decoration: none;      /* Retira a linha sublinhada */
    font-size: 20px;
    font-weight: 900;
    color: white;
  }

  /* varbar */
  

body {
    background-image: url('../assets/imgs/dois\ carros.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #121214;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.container{
  flex-grow: 1;

   border-radius: 6px;
   padding: 40px;
   
  
   

   display: flex;
   justify-content: center;
   align-items: center;
}

.questions-container{
    background-color: #121214;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    border: 2px solid #e1e1e6;
    padding: 40px;

}

.question{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.answers-container{
    width: 100%;
    display: grid;
     grid-template-columns: 1fr 1fr;  /* o grid esta com 2 colunas do mesmo tamanho(largura)*/
    gap: 16px; /*espaço entre colunas*/
   
}

.next-question{
    margin-top: 32px;

}

.button{
    background-color: #4863f7;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: 0;
    border-radius: 6px;
    height: 48px;
    padding: 0 32px;  /* espaço entre os botoes direita e esquerda*/
    
    transition: 0.2s;  /* transição do hover */
}


button:hover{
    filter: brightness(0.8); /* serve para escurecer o botton ao passar */
}

.answer:disabled{   
    cursor: not-allowed;
}

.hide{
    display: none;  /* esconder elemnetos que tem a class hide */
}

.correct{
    background-color: #049b48;
}

.incorrect{
    background-color: #a10101;
}

.msgFinal {
    font-size: 20px;
    text-align: center;

}
.msgFinal span{
    display: block;
    margin-top:8px ;
}